@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">Zugriff verweigert</h1>
    <p class="text-danger">Sie sind nicht authorisiert diese Funktion oder Seite auszuführen.
    Für weitere Fragen, wenden Sie sich bitte an Ihren Administrator.</p>
</header>
