@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Speisekarte</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Bestellnummer</th>
                        <th scope="col">Bild</th>
                        <th scope="col">Gericht</th>
                        <th scope="col">Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="w-25">
                            <img src="https://www.peterpane.de/wp-content/uploads/2021/03/CheeseBurger.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>Cheeseburger</td>
                        <td>6,00 €</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="w-25">
                            <img src="https://www.peterpane.de/wp-content/uploads/2021/03/Cheeis-vegan.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>Veggie Burger</td>
                        <td>9,00 €</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td class="w-25">
                            <img src="https://www.peterpane.de/wp-content/uploads/2021/03/Der-Held_quadrat.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>Tante Emma Burger</td>
                        <td>10,00 €</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td class="w-25">
                            <img src="https://www.peterpane.de/wp-content/uploads/2020/10/Doppelter_Peter_528x528.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>Special Burger</td>
                        <td>15,00 €</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr />
